@import "bootstrap.css";
@import "loader.css";
@import "toggle-switch.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.table-wrapper {
    height: 550px;
    overflow: auto;
}

.order-by {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.filter-button-icon-none {
    display: none;
}

thead th {
    position: sticky;
    top: -1px;
}
