@import "bootstrap.css";
@import "loader.css";
@import "toggle-switch.css";
@import "switch-theme.css";
@import "responsive-report.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.introjs-tooltip-title, .introjs-tooltiptext {
    color: black !important;
}

.table-wrapper {
    height: 550px;
    overflow: auto;
}

.order-by {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.filter-button-icon-none {
    display: none;
}

thead th {
    position: sticky;
    top: -1px;
}

.pulse {
    animation: pulse-animation 1.5s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}
