.responsive-header {
    justify-content: space-between;
}
.responsive-header-around {
    justify-content: space-between;
}
@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden !Important; /* Hide horizontal scrollbar */
        font-size: 12px !important;
    }
    .responsive-header-around {
        justify-content: space-around;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
    .responsive-header {
        justify-content: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
    .intro-paginate-group {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .pagination {
        width: 100%;
        margin-bottom: 50px;
    }

    .page-item:not(:first-child):not(:last-child):not(.active) {
        display: none;
    }

    #pending {
        margin-left: 0 !important;
    }

    .intro-search-group {
        margin-top: 5%;
        width: 100% !important;
        display: block;
        order: -1;
        flex-basis: 100%;
        margin-bottom: 10px;
        justify-self: center;
        align-items: flex-start;
    }

    #clear-filters {
        padding: 0;
    }

    .per-page-responsive {
        font-size: 15px;
        margin-top: 35px;
    }

    #filter_date {
        justify-self: center !important;
    }

    .table-wrapper {
        height: 400px !important;
    }

    .responsive-remove-column {
        display: none;
    }

    .responsive-container {
        width: 100% !important;
    }

    #requester_name {
        width: 140px !important;
    }

/*    específico users*/
    th.bg-info-subtle {
        text-align: center;
    }
}
